*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    outline: none;
}
.main
{
    display: inline-flex;
    box-sizing: border-box;
    padding: 10px 50px;
    width: 100%;
    height: 80px;
    background: turquoise;
    line-height: 60px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.400);  
}
.logo
{
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border: none;
    line-height: 70px;
}
.inputbox
{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 155px;
    width: 360px;
    background: transparent;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.400);
}
.inputbox input
{
    border: none;
    outline: none;
    border-bottom: 1.5px solid black;
    height: 30px;
    width: 320px;
    margin: 5px 0 0 0;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 20px;
}

.inputbox textarea
{
    border: none;
    outline: none;
    width: 320px;
    height: 90px;
    padding: 10px 20px;
    font-size: 18px;
}
.inputbox img
{
    position: absolute;
    top: 120px;
    left: 250px;
    border: none;    
    cursor: pointer;
    background-color: white;
    border-radius: 50px;
    height: 70px;
    width: 70px;
    transition: .3s;
}
.inputbox img:hover
{
    transform: rotate(-45deg);
    box-shadow: none;
}
.saved
{
    transform: translate(-50%);
    position: absolute;
    display: none;
    top: 65%;
    left: 50%;
    height: 200px;
    background: white;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.400);
    text-align: center;
}
.saved button
{
    border: 1px solid black;
    cursor: pointer;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    transition: .3s;
}
.saved button:hover
{
    transform: scale(1.1);
}
.box
{
    display: none;
    margin: 10px 13px;
    box-sizing: border-box;
    width: 280px;
    height: 180px;
    border: 1px solid black;
}
.box input
{
    border: none;
    outline: none;
    border-bottom: 1.5px solid black;
    height: 30px;
    width: 210px;
    margin: 5px 0 0 0;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 20px;
}
.box textarea
{
    border: none;
    outline: none;
    width: 210px;
    height: 70px;
    padding: 10px 20px;
    font-size: 18px;
}
.footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 35px;
    width: 100%;
    text-align: center;
}
.footer p
{
    font-size: 13px;
    color: rgb(90, 90, 90);
}

